<!html>
<head>
<script>
	function callMeJSONP() {
	    var s = document.createElement("script");
	    s.src = document.getElementById("url").value;
	    document.body.appendChild(s);
	}

	function callMeAJAX() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', document.getElementById("url").value);
		xhr.onload = function() {
			    if (xhr.status === 200) {
			        callback(xhr.responseText);
		    }
		};
		xhr.send();
	}
	
	function callback(data) {
		alert(data);
	}
</script>
</head>
<body>
<input id="url" value="http://localhost:8080/test.js"></input>
<button onclick="callMeAJAX()">Call AJAX</button>
<button onclick="callMeJSONP()">Call JSONP</button>
<p>Use http://localhost:8090/test.js to broke same-origin policy</p>
</body>